body{
    background-color: #FFF8D6;
  }
  h1{
    color: whitesmoke;
    background-color: #617A55;
    font-family: 'Vina Sans', cursive;
    font-size: 40px;
  }
  h2{
    color: #FAF8F1;
    background-color: #A4D0A4;
    font-size: 30px;
  }
